INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7001,'ART OUTLET','ART OUTLET','/7001',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7002,'Aukcja Biżuterii','Aukcja Biżuterii','/7002',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7003,'Aukcja Grafiki i Plakatu','Aukcja Grafiki i Plakatu','/7003',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7004,'Aukcja Komiksu i Ilustracji','Aukcja Komiksu i Ilustracji','/7004',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7005,'Aukcja Młodej Sztuki','Aukcja Młodej Sztuki','/7005',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7006,'Aukcja Młodej Sztuki','Aukcja Młodej Sztuki','/7006',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7007,'Aukcja Nowej Sztuki','Aukcja Nowej Sztuki','/7007',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (7008,'Aukcja Sztuki Współczesnej','Aukcja Sztuki Współczesnej','/7008',CURRENT_TIMESTAMP);

INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70011,7001,2001,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70021,7002,2001,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70031,7003,2001,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70041,7004,2001,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70051,7005,2001,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70061,7006,2001,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70071,7007,2001,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70081,7008,2001,1,TRUE);



#macro (new_auction $id $categoryId $name $description $minimalPrice $imageUrl)
INSERT INTO BLC_PRODUCT (PRODUCT_ID, URL, IS_FEATURED_PRODUCT, DEFAULT_CATEGORY_ID) VALUES ($id, '/$categoryId/$id', false, $categoryId);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF (CATEGORY_PRODUCT_ID, PRODUCT_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES ($id, $id, $categoryId, 1, TRUE);

INSERT INTO BLC_SKU (SKU_ID,DEFAULT_PRODUCT_ID,NAME,LONG_DESCRIPTION,ACTIVE_START_DATE) VALUES ($id, $id, '$name', '$description', CURRENT_TIMESTAMP);
INSERT INTO BLC_EXT_SKU (SKU_ID, MINIMAL_PRICE)  VALUES($id, $minimalPrice);
UPDATE BLC_PRODUCT SET DEFAULT_SKU_ID = $id WHERE PRODUCT_ID = $id;

INSERT INTO BLC_MEDIA (MEDIA_ID, URL, TITLE) VALUES ($id, '$imageUrl', '$name');
INSERT INTO BLC_SKU_MEDIA_MAP VALUES ($id, 'primary', $id, $id);
#end

#new_auction( 80001, 7002, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')

