INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (701,'Shop','Shop','/701',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (702,'Online Auctions','Online Auctions','/702',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (703,'Onsite Auctions','Onsite Auctions','/703',CURRENT_TIMESTAMP);

INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7021,'ART OUTLET','ART OUTLET','/7021',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7022,'Biżuteria','Aukcja Biżuterii','/7022',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7023,'Grafika i Plakat','Aukcja Grafiki i Plakatu','/7023',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7024,'Komiksu i Ilustracji','Aukcja Komiksu i Ilustracji','/7024',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7025,'Młoda Sztuka','Aukcja Młodej Sztuki','/7025',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7026,'Nowa Sztuka','Aukcja Nowej Sztuki','/7026',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7027,'Sztuka Współczesna','Aukcja Sztuki Współczesnej','/7027',CURRENT_TIMESTAMP);

INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70211,7021,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70221,7022,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70231,7023,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70241,7024,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70251,7025,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70261,7026,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70271,7027,702,1,TRUE);



#macro (new_auction $id $categoryId $name $description $minimalPrice $imageUrl)
INSERT INTO BLC_PRODUCT (PRODUCT_ID, URL, IS_FEATURED_PRODUCT, DEFAULT_CATEGORY_ID) VALUES ($id, '/$categoryId/$id', false, $categoryId);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF (CATEGORY_PRODUCT_ID, PRODUCT_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES ($id, $id, $categoryId, 1, TRUE);

INSERT INTO BLC_SKU (SKU_ID,DEFAULT_PRODUCT_ID,NAME,LONG_DESCRIPTION,ACTIVE_START_DATE) VALUES ($id, $id, '$name', '$description', CURRENT_TIMESTAMP);
INSERT INTO BLC_EXT_SKU (SKU_ID, MINIMAL_PRICE)  VALUES($id, $minimalPrice);
UPDATE BLC_PRODUCT SET DEFAULT_SKU_ID = $id WHERE PRODUCT_ID = $id;

INSERT INTO BLC_MEDIA (MEDIA_ID, URL, TITLE) VALUES ($id, '$imageUrl', '$name');
INSERT INTO BLC_SKU_MEDIA_MAP VALUES ($id, 'primary', $id, $id);
#end

#macro (new_product $id $categoryId $name $description $retailPrice $imageUrl)
INSERT INTO BLC_PRODUCT (PRODUCT_ID, URL, IS_FEATURED_PRODUCT, DEFAULT_CATEGORY_ID) VALUES ($id, '/$categoryId/$id', false, $categoryId);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF (CATEGORY_PRODUCT_ID, PRODUCT_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES ($id, $id, $categoryId, 1, TRUE);

INSERT INTO BLC_SKU (SKU_ID,DEFAULT_PRODUCT_ID,NAME,LONG_DESCRIPTION,ACTIVE_START_DATE, RETAIL_PRICE) VALUES ($id, $id, '$name', '$description', CURRENT_TIMESTAMP, $retailPrice);
INSERT INTO BLC_EXT_SKU (SKU_ID, MINIMAL_PRICE)  VALUES($id, null);
UPDATE BLC_PRODUCT SET DEFAULT_SKU_ID = $id WHERE PRODUCT_ID = $id;

INSERT INTO BLC_MEDIA (MEDIA_ID, URL, TITLE) VALUES ($id, '$imageUrl', '$name');
INSERT INTO BLC_SKU_MEDIA_MAP VALUES ($id, 'primary', $id, $id);
#end


#new_auction( 80001, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_product( 80002, 7021, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80003, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80004, 7023, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80005, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_product( 80006, 7024, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80007, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_product( 80008, 7026, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')

UPDATE BLC_PRODUCT SET IS_FEATURED_PRODUCT=TRUE WHERE PRODUCT_ID=80001;

UPDATE BLC_SKU SET SALE_PRICE = 4000 where sku_id = 80002;

DELETE FROM BLC_CATEGORY_PRODUCT_XREF WHERE CATEGORY_ID = 2001;

INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20011, 2001, 80001);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20012, 2001, 80002);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20013, 2001, 80003);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20014, 2001, 80004);


