INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (701,'Shop','Shop','/701',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (702,'Online Auctions','Online Auctions','/702',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,DESCRIPTION,NAME,URL,ACTIVE_START_DATE) VALUES (703,'Onsite Auctions','Onsite Auctions','/703',CURRENT_TIMESTAMP);

INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7021,'ART OUTLET','ART OUTLET','/7021',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7022,'Biżuteria','Aukcja Biżuterii','/7022',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7023,'Grafika i Plakat','Aukcja Grafiki i Plakatu','/7023',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7024,'Komiksu i Ilustracji','Aukcja Komiksu i Ilustracji','/7024',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7025,'Młoda Sztuka','Aukcja Młodej Sztuki','/7025',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7026,'Nowa Sztuka','Aukcja Nowej Sztuki','/7026',CURRENT_TIMESTAMP);
INSERT INTO BLC_CATEGORY (CATEGORY_ID,NAME,DESCRIPTION,URL,ACTIVE_START_DATE) VALUES (7027,'Sztuka Współczesna','Aukcja Sztuki Współczesnej','/7027',CURRENT_TIMESTAMP);

INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70211,7021,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70221,7022,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70231,7023,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70241,7024,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70251,7025,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70261,7026,702,1,TRUE);
INSERT INTO BLC_CATEGORY_XREF (CATEGORY_XREF_ID, SUB_CATEGORY_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES (70271,7027,702,1,TRUE);



#macro (new_auction $id $categoryId $name $description $minimalPrice $imageUrl)
INSERT INTO BLC_PRODUCT (PRODUCT_ID, URL, IS_FEATURED_PRODUCT, DEFAULT_CATEGORY_ID) VALUES ($id, '/$categoryId/$id', false, $categoryId);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF (CATEGORY_PRODUCT_ID, PRODUCT_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES ($id, $id, $categoryId, 1, TRUE);

INSERT INTO BLC_SKU (SKU_ID,DEFAULT_PRODUCT_ID,NAME,LONG_DESCRIPTION,ACTIVE_START_DATE) VALUES ($id, $id, '$name', '$description', CURRENT_TIMESTAMP);
INSERT INTO BLC_EXT_SKU (SKU_ID, MINIMAL_PRICE)  VALUES($id, $minimalPrice);
UPDATE BLC_PRODUCT SET DEFAULT_SKU_ID = $id WHERE PRODUCT_ID = $id;

INSERT INTO BLC_MEDIA (MEDIA_ID, URL, TITLE) VALUES ($id, '$imageUrl', '$name');
INSERT INTO BLC_SKU_MEDIA_MAP VALUES ($id, 'primary', $id, $id);
#end

#macro (new_product $id $categoryId $name $description $retailPrice $imageUrl)
INSERT INTO BLC_PRODUCT (PRODUCT_ID, URL, IS_FEATURED_PRODUCT, DEFAULT_CATEGORY_ID) VALUES ($id, '/$categoryId/$id', false, $categoryId);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF (CATEGORY_PRODUCT_ID, PRODUCT_ID, CATEGORY_ID, DISPLAY_ORDER, DEFAULT_REFERENCE) VALUES ($id, $id, $categoryId, 1, TRUE);

INSERT INTO BLC_SKU (SKU_ID,DEFAULT_PRODUCT_ID,NAME,LONG_DESCRIPTION,ACTIVE_START_DATE, RETAIL_PRICE) VALUES ($id, $id, '$name', '$description', CURRENT_TIMESTAMP, $retailPrice);
INSERT INTO BLC_EXT_SKU (SKU_ID, MINIMAL_PRICE)  VALUES($id, null);
UPDATE BLC_PRODUCT SET DEFAULT_SKU_ID = $id WHERE PRODUCT_ID = $id;

INSERT INTO BLC_MEDIA (MEDIA_ID, URL, TITLE) VALUES ($id, '$imageUrl', '$name');
INSERT INTO BLC_SKU_MEDIA_MAP VALUES ($id, 'primary', $id, $id);
#end


#new_auction( 80001, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_product( 80002, 7021, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80003, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80004, 7023, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80005, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_product( 80006, 7024, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction( 80007, 7022, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_product( 80008, 7026, 'Kolczyki w typie art déco', 'złoto, pr. ~ 0,585, platyna, 4 diamenty ł. ~ 0,40 ct H/VS, 2 diamenty w szlifie 8/8, 8 szafirów fasetowanych ł. ~ 0,80 ct, rozety diamentowe, masa: 4,53 g (XX w.)', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')

UPDATE BLC_PRODUCT SET IS_FEATURED_PRODUCT=TRUE WHERE PRODUCT_ID=80001;

UPDATE BLC_SKU SET SALE_PRICE = 4000 where sku_id = 80002;

DELETE FROM BLC_CATEGORY_PRODUCT_XREF WHERE CATEGORY_ID = 2001;

INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20011, 2001, 80001);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20012, 2001, 80002);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20013, 2001, 80003);
INSERT INTO BLC_CATEGORY_PRODUCT_XREF(CATEGORY_PRODUCT_ID, CATEGORY_ID, PRODUCT_ID) VALUES (20014, 2001, 80004);

#new_auction(80201, 7021, 'Edward Dwurnik akwarela, tempera/papier, 24 x 31,5 cm', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_001.jpg')
#new_auction(80202, 7021, 'Henryk Płóciennik  akwarela, tusz/papier, 34,5 x 44 cm', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_002.jpg')
#new_auction(80203, 7021, 'Paweł Taranczewski  olej/płótno, 73 x 93 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_003.jpg')
#new_auction(80204, 7021, 'Lech Okołów  olej/płótno, 114 x 90 cm', 4000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_004.jpg')
#new_auction(80205, 7021, 'Jan Młodożeniec gwasz/papier, 48 x 34,5 cm', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_005.jpg')
#new_auction(80206, 7021, 'Bettina Bereś  olej/płótno, 60,5 x 46,5 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_006.jpg')
#new_auction(80207, 7021, 'Alicja Wahl olej/płótno, 100 x 97 cm', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_007.jpg')
#new_auction(80208, 7021, 'Jan Sawka  olej/tektura, 120 x 100 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_008.jpg')
#new_auction(80209, 7021, 'Henryk Kozakiewicz olej/płótno, 150 x 150 cm', 9000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_009.jpg')
#new_auction(80210, 7021, 'Katarzyna Kopańska-Błaszczyk  olej/płótno, 140 x 148 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_010.jpg')
#new_auction(80211, 7021, 'Katarzyna Kopańska-Błaszczyk olej/płótno, 160 x 120 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_011.jpg')
#new_auction(80212, 7021, 'Jacek Yerka akryl/płótno, 73,5 x 61 cm', 11000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_012.jpg')
#new_auction(80213, 7021, 'Jacek Yerka  akryl/płótno, 61 x 50 cm', 12000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_013.jpg')
#new_auction(80214, 7021, 'Juliusz Joniak  olej/płótno, 65 x 81 cm', 9000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_014.jpg')
#new_auction(80215, 7021, 'Juliusz Krajewski  olej/płótno, 53 x 78 cm', 4000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_015.jpg')
#new_auction(80216, 7021, 'Stanisław Żółtowski  olej/płótno, 62,5 x 125 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_016.jpg')
#new_auction(80217, 7021, 'Marek Sapetto  monotypia, własna/papier, 84 x 38,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_017.jpg')
#new_auction(80218, 7021, 'Rajmund Ziemski  olej/płótno, 130 x 80 cm', 12000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_018.jpg')
#new_auction(80219, 7021, 'Erna Rosenstein  technika własna/płyta, 41,5 x 24,5 cm', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_019.jpg')
#new_auction(80220, 7021, 'Jan Misiek collage, mieszana, olej/płótno, 32 x 65 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_020.jpg')
#new_auction(80221, 7021, 'Czesław Rzepiński olej/płótno, 60 x 100 cm (w świetle ramy)', 3800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_021.jpg')
#new_auction(80222, 7021, 'Małgorzata Kocjan  olej/płótno, 80 x 81 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_022.jpg')
#new_auction(80223, 7021, 'Tatiana Iwanowa  olej, technika własna/płótno, 54 x 54 cm', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_023.jpg')
#new_auction(80224, 7021, 'Milan Knižak  collage, 25,5 x 20 cm', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_024 a.jpg')
#new_auction(80225, 7021, 'Stanisław Fijałkowski  grafika komputerowa/papier, 15 x 10,5 cm', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_025.jpg')
#new_auction(80226, 7021, 'Anna Buczkowska  olej/płótno, 103 x 78 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_026.jpg')
#new_auction(80227, 7021, 'Ryszard Winiarski  akryl, ołówek/płótno, 40 x 30 cm', 2800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_027.jpg')
#new_auction(80228, 7021, 'Autor nierozpoznany  olej/płótno, 121 x 101 cm i 81 x 101 cm', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_028.jpg')
#new_auction(80229, 7021, 'Krzysztof Wróblewski  olej/płótno, 33 x 152,5 cm', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_029.jpg')
#new_auction(80230, 7021, 'Adam Patrzyk  olej/płótno, 99 x 121 cm', 2800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_030.jpg')
#new_auction(80231, 7021, 'Wacław Taranczewski  olej/płótno, 43 x 65 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_031.jpg')
#new_auction(80232, 7021, 'Zbigniew Makowski druk offsetowy/papier, 46 x 58 cm', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_032.jpg')
#new_auction(80233, 7021, 'Ludwik Lech Jaksztas  akwarela/papier, 45 x 34 cm (w świetle passe-partout)', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_033.jpg')
#new_auction(80234, 7021, 'Jerzy Panek  kredka/papier, 21,5 x 14,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_034.jpg')
#new_auction(80235, 7021, 'Zdzisław Lachur  olej/płyta, 78 x 68 cm', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_035.jpg')
#new_auction(80236, 7021, 'Krystyna Łada - Studnicka akwarela/papier, 23,50 x 23 cm', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_036.jpg')
#new_auction(80237, 7021, 'Andrzej Zwierzchowski  olej/płótno, 65 x 100 cm', 5000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_037.jpg')
#new_auction(80238, 7021, 'Miro Biały  olej/płótno, 100 x 135 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_038.jpg')
#new_auction(80239, 7021, 'Gabriela Morawetz olej/płótno, 89 x 146 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_039.jpg')
#new_auction(80240, 7021, 'Teresa Pągowska  olej/płótno, 100 x 75 cm', 12000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_040.jpg')
#new_auction(80241, 7021, 'Wojciech Pąkowski  olej/płótno, 18,5 x 23,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_041.jpg')
#new_auction(80242, 7021, 'Marian Michalik  olej/płótno, 55 x 65,5 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_042.jpg')
#new_auction(80243, 7021, 'Janusz Lewandowski  olej/płyta, 80 x 100 cm', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_043.jpg')
#new_auction(80244, 7021, 'Janusz Lewandowski  olej/płótno, 72 x 91 cm', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_044.jpg')
#new_auction(80245, 7021, 'Zdzisław Cyankiewicz olej/płótno, naklejone na płytę, 92 x 73 cm', 28000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_045.jpg')
#new_auction(80246, 7021, 'Feliks Michał Wygrzywalski pastel/papier, 70 x 50,5 cm', 2800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_046.jpg')
#new_auction(80247, 7021, 'Rajmund Kanelba (Kanelbaum) olej/tektura, 40 x 29 cm', 18000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_047.jpg')
#new_auction(80248, 7021, 'Jan Czesław Moniuszko  olej/tkanina, 58 x 52 cm', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_048.jpg')
#new_auction(80249, 7021, 'Krąg Jeana Baptiste-a Camille-a Corota olej/płótno, 37 x 52 cm', 5000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_049.jpg')
#new_auction(80250, 7021, 'Autor nierozpoznany  olej/płótno, 68 x 88 cm', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_050.jpg')
#new_auction(80251, 7021, 'Franciszek Siedlecki  olej/płótno, dublowane, 81 x 60 cm', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_051.jpg')
#new_auction(80252, 7021, 'Maurycy Mędrzycki  olej/tektura, 61 x 36 cm', 26000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_052.jpg')
#new_auction(80253, 7021, 'Włodzimierz Terlikowski olej/płótno, 61 x 46 cm', 5000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_053.jpg')
#new_auction(80254, 7021, 'Wlastimil Hofman olej/tektura, 33,5 x 33,5 cm', 24000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_054.jpg')
#new_auction(80255, 7021, 'Józef Wodyński  olej/płótno, 49 x 40,5 cm', 2600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_055.jpg')
#new_auction(80256, 7021, 'Józef Kidoń  olej/tektura, 39,5 x 31,5 cm', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_056.jpg')
#new_auction(80257, 7021, 'Bernard Frydrysiak  olej/płótno, 75 x 63 cm', 15000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_057.jpg')
#new_auction(80258, 7021, 'Autor nierozpoznany olej/płótno, 66 x 60,5 cm', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_058.jpg')
#new_auction(80259, 7021, 'Wlastimil Hofman olej/tektura, 54,5 x 42 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_059.jpg')
#new_auction(80260, 7021, 'Coenraet (Conrad) Roepel, przypisywany olej/płótno, 41 x 68 cm', 12000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_060.jpg')
#new_auction(80261, 7021, 'Wacław Bielawski olej/tektura, 37,5 x 57,5 cm', 4000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_061.jpg')
#new_auction(80262, 7021, 'Autor nierozpoznany  olej/tektura, 70 x 48 cm', 2200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_062.JPG')
#new_auction(80263, 7021, 'Czesław Rzepiński  olej/płótno, 53,5 x 44 cm', 3400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_063.jpg')
#new_auction(80264, 7021, 'Autor nierozpoznany  olej/płótno, 74,5 x 62 cm', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_064.jpg')
#new_auction(80265, 7021, 'Antonin Smažil  olej/tektura, 30 x 122 cm', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_065.jpg')
#new_auction(80266, 7021, 'Stefan Rassalski  olej/deska, 49 x 50 cm', 1800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_066.jpg')
#new_auction(80267, 7021, 'Roman Kazimierz Kochanowski  olej/płótno, 22 x 29,5 cm', 10000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_067.JPG')
#new_auction(80268, 7021, 'Jost Joseph Niklaus Schiffman olej/płótno, 73 x 98 cm', 26000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_068.jpg')
#new_auction(80269, 7021, 'J. Konarski olej/deska, 18 x 14,2 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_069.jpg')
#new_auction(80270, 7021, 'Roman Antoni Breitenwald olej/płótno, 50 x 70 cm', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_070.jpg')
#new_auction(80271, 7021, 'Kajetan Kosiński  gwasz/papier, 15,5 x 30 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_071.jpg')
#new_auction(80272, 7021, 'Maciej Kościesza  olej/tektura, 50 x 61 cm', 1800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_072.jpg')
#new_auction(80273, 7021, 'Maciej Kościesza  olej/płótno, 49,5 x 61 cm', 1800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_073.jpg')
#new_auction(80274, 7021, 'Antoni Trzeszczkowski  olej/płótno, naklejone na karton, 36,5 x 27,5 cm', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_074.jpg')
#new_auction(80275, 7021, 'Malarz niemiecki (prawdopodobnie) olej/deska, 30 x 25,5 cm', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_075.jpg')
#new_auction(80276, 7021, 'Georg Müller-Breslau  olej/tektura, 58 x 44 cm', 2800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_076.jpg')
#new_auction(80277, 7021, 'Autor nierozpoznany  olej/deska, 19 x 16 cm', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_077.jpg')
#new_auction(80278, 7021, 'Wiktor Korecki  olej/płótno, 39,5 x 55 cm', 5500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_078.jpg')
#new_auction(80279, 7021, 'Autor nierozpoznany olej/deska, 18,5 x 25,5 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_079.jpg')
#new_auction(80280, 7021, 'Wiktor Korecki  olej/tektura, 34 x 50 cm', 2500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_080.jpg')
#new_auction(80281, 7021, 'Wiktor Korecki  olej/tektura, 62 x 92 cm', 5000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_081.jpg')
#new_auction(80282, 7021, 'Arnold Gräbone olej/płótno, 60,5 x 70 cm', 2600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_082.jpg')
#new_auction(80283, 7021, 'Autor nierozpoznany olej/płótno, 18 x 28 cm', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_083.jpg')
#new_auction(80284, 7021, 'Ludwik Dill olej/tektura, 72 x 92 cm', 8000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_084.jpg')
#new_auction(80285, 7021, 'Włodzimierz Terlikowski olej/płótno, 41 x 33 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_085.jpg')
#new_auction(80286, 7021, 'Autor nierozpoznany  olej/płótno, 38 x 61 cm', 1800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_086.jpg')
#new_auction(80287, 7021, 'Maria Ritter  akwarela, ołówek/papier, 27 x 31 cm', 1100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_087.jpg')
#new_auction(80288, 7021, 'Jerzy Fedkowicz  olej/płótno, 73 x 54 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_088.jpg')
#new_auction(80289, 7021, 'Zdzisław (Otello) Horodecki  olej/płótno, 100 x 59 cm', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_089.jpg')
#new_auction(80290, 7021, 'Stanisław Noakowski  akwarela, tusz/papier, 35,5 x 36 cm', 2200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_090.jpg')
#new_auction(80291, 7021, 'Stanisław Noakowski akwarela, tusz/papier, 33,5 x 31,5 cm', 3200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_091.jpg')
#new_auction(80292, 7021, 'Izaak Celnikier  olej/płótno, 75 x 106 cm', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_092.jpg')
#new_auction(80293, 7021, 'Autor nierozpoznany akwarela/papier, 25 x 35 cm', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_093.jpg')
#new_auction(80294, 7021, 'Autor nierozpoznany  akwarela/papier, 12 x 16,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_094.jpg')
#new_auction(80295, 7021, 'Lothar von Seebach  akwaforta, akwatinta/papier, 10 x 15 cm (wymiar arkusza 23 x 31 cm)', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_095.jpg')
#new_auction(80296, 7021, 'Autor nierozpoznany  ołówek/papier, 20,5 x 15,5 cm', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_096.jpg')
#new_auction(80297, 7021, 'Ignacy Łopieński akwaforta/papier, 15,5 x 10,5 cm', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_097.jpg')
#new_auction(80298, 7021, 'Gustaw Rogalski  akwarela, tusz/papier, 28 x 41,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_098.jpg')
#new_auction(80299, 7021, 'Autor nierozpoznany akwarela/papier, 32 x 43 cm', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_099.jpg')
#new_auction(80300, 7021, 'Astrid Klein  technika własna/papier fotograficzny, 40 x 29 cm', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_100.jpg')
#new_auction(80301, 7021, 'Franciszek Starowieyski  grafit/papier, 21 x 28,5 cm', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_101.jpg')
#new_auction(80302, 7021, 'Maria Ritter  pastel, tusz/papier, 41 x 28 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_102.jpg')
#new_auction(80303, 7021, 'Jacek Sawicki akwaforta, akwatinta/papier, 67 x 52 cm (każda z prac)', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_103.jpg')
#new_auction(80304, 7021, 'Autor nierozpoznany  akwarela, tusz/papier, 64 x 48 cm', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_104.jpg')
#new_auction(80305, 7021, 'Henry Alken Jr litografia/papier, 45 x 57 cm', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_105.jpg')
#new_auction(80306, 7021, 'Autor nierozpoznany  gwasz/papier, 20 x 10,5 cm', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_106.jpg')
#new_auction(80307, 7021, 'Autor nierozpoznany  litografia/papier, 33 x 25 cm', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_107.jpg')
#new_auction(80308, 7021, 'Giovanni Battista Piranesi  miedzioryt/papier, 13,3 x 19,5 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_108.jpg')
#new_auction(80309, 7021, 'Czesław Sadowski litografia/papier, 9,2 x 12,2 cm i 20,5 x 15 cm', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_109.jpg')
#new_auction(80310, 7021, 'Tadeusz Mieczysław Nodzyński  olej/płótno, naklejone na tekturę, 52 x 77 cm', 3200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_110.jpg')
#new_auction(80311, 7021, 'Józef Piotrowski  olej/sklejka, 25 x 31 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_111.jpg')
#new_auction(80312, 7021, 'Autor nierozpoznany  olej/tektura, 16 x 22 cm', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_112.jpg')
#new_auction(80313, 7021, 'Autor nierozpoznany  olej/płótno, 81 x 65 cm', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_113.jpg')
#new_auction(80314, 7021, 'Seweryn Bieszczad  akwarela/papier, 29,5 x 44,5 cm', 4600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_114.jpg')
#new_auction(80315, 7021, 'Stanisław Dębicki  akwarela/papier, 25 x 16 cm', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_115.jpg')
#new_auction(80316, 7021, 'Henryk Siemiradzki  53,5 x 37 cm (w świetle passe-partout)', 35000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_116.jpg')
#new_auction(80317, 7021, '', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_117.jpg')
#new_auction(80318, 7021, 'Tetard Freres, Francja', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_118.jpg')
#new_auction(80319, 7021, 'August Teodor Werner, Warszawa', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_119.jpg')
#new_auction(80320, 7021, 'Londyn', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_120.jpg')
#new_auction(80321, 7021, 'Szmul Szkarłat, Warszawa', 5000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_121.jpg')
#new_auction(80322, 7021, 'Fiodor Matwiejew Piczugin, Moskwa', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_122.jpg')
#new_auction(80323, 7021, 'Puzderko w kształcie serca, XX w.', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_123.jpg')
#new_auction(80324, 7021, 'Pas kaukaski, XIX/XX w.', 3500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_124.jpg')
#new_auction(80325, 7021, 'Paterka w formie koszyczka, okres międzywojenny', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_125.jpg')
#new_auction(80326, 7021, 'Czerpak, 1 ćw. XX w.', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_126.jpg')
#new_auction(80327, 7021, 'Cukiernica skrzynkowa w stylu Ludwika Filipa, około poł. XIX w.', 5000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_127.jpg')
#new_auction(80328, 7021, 'Solniczka w stylu Ludwika Filipa, 1854 r.', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_128.jpg')
#new_auction(80329, 7021, 'Solniczka w stylu Ludwika Filipa, 1863 r.', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_129.jpg')
#new_auction(80330, 7021, 'Sosjerka w typie Ludwika Filipa, XIX/XX w.', 3200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_130.jpg')
#new_auction(80331, 7021, 'Zestaw kubeczków kiduszowych (6 szt.), 1908 - 1926', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_131.jpg')
#new_auction(80332, 7021, 'Kubek, około poł. XIX w.', 700, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_132.jpg')
#new_auction(80333, 7021, 'Pucharek, około poł. XIX w.', 700, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_133.jpg')
#new_auction(80334, 7021, 'Kubek kiduszowy, XX w.', 700, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_134.jpg')
#new_auction(80335, 7021, 'Kubeczek kiduszowy, 1892 - 1908', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_135.jpg')
#new_auction(80336, 7021, 'Cukiernica, 1912 r.', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_136.jpg')
#new_auction(80337, 7021, 'Szczypce do kostek cukru, okres międzywojenny', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_137.jpg')
#new_auction(80338, 7021, 'Podstawka do szklanki, pocz. XX w.', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_138.jpg')
#new_auction(80339, 7021, 'Komplet 6 łyżeczek do mokki, pocz. XX w.', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_139.jpg')
#new_auction(80340, 7021, 'Para świeczników, 1860 r.', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_140.jpg')
#new_auction(80341, 7021, 'Komplet do kawy i herbaty', 9000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_141.jpg')
#new_auction(80342, 7021, ' Taca, po 1888 r.', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_142.jpg')
#new_auction(80343, 7021, 'Cukiernica, XIX/XX w.', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_143.jpg')
#new_auction(80344, 7021, 'Para świeczników eklektycznych, 1918 r.', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_144.jpg')
#new_auction(80345, 7021, 'Cukiernica skrzynkowa, około poł. XIX w.', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_145.jpg')
#new_auction(80346, 7021, 'Komplet 6 łyżeczek do mokki, 3 ćw. XX w.', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_146.jpg')
#new_auction(80347, 7021, 'Łyżeczka do kawioru, 1857 r.', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_147.jpg')
#new_auction(80348, 7021, 'Zestaw sztućców do owoców dla 6 osób, okres międzywojenny', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_148.jpg')
#new_auction(80349, 7021, 'Para kandelabrów w stylu Ludwika Filipa, 1854 r.', 13000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_149.jpg')
#new_auction(80350, 7021, 'Wazon, okres międzywojenny', 2600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_150.jpg')
#new_auction(80351, 7021, 'Szczypce do kostek cukru, okres międzywojenny', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_151.jpg')
#new_auction(80352, 7021, 'Dwa pudełka, 1845 r.', 4500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_152.jpg')
#new_auction(80353, 7021, 'Papierośnica, XX w.', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_153.jpg')
#new_auction(80354, 7021, 'Puderniczka, XX w.', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_154.jpg')
#new_auction(80355, 7021, 'Torebka, 1908 - 1926', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_155.jpg')
#new_auction(80356, 7021, 'Papierośnica, okres międzywojenny', 1600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_156.jpg')
#new_auction(80357, 7021, 'Lampa naftowa, początek XX w.', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_157.jpg')
#new_auction(80358, 7021, 'Cukiernica skrzynkowa, 2 poł. XIX w.', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_158.jpg')
#new_auction(80359, 7021, 'Cukiernica skrzynkowa, po 1914 r.', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_159.jpg')
#new_auction(80360, 7021, 'Para pater z przedstawieniami scen z opery Ryszarda Wagnera Lohengrin, 2 poł.  XIX w.', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_160.jpg')
#new_auction(80361, 7021, 'Sosjerka na podstawce, 1846 r.', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_161.jpg')
#new_auction(80362, 7021, 'Cukiernica, XX w.', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_162.jpg')
#new_auction(80363, 7021, 'Taca, po 1914 r.', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_163.jpg')
#new_auction(80364, 7021, 'Komplet sztućców obiadowych, (dla 6 osób), okres międzywojenny', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_164.jpg')
#new_auction(80365, 7021, 'Misa, 1850 - 1860', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_165.jpg')
#new_auction(80366, 7021, 'Szczypce do kostek cukru, XIX/XX w.', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_166.jpg')
#new_auction(80367, 7021, 'Świecznik w typie Ludwika Filipa, XX w.', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_167.jpg')
#new_auction(80368, 7021, 'Cukiernica, okres międzywojenny', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_168.jpg')
#new_auction(80369, 7021, 'Karafka i 6 kieliszków na tacy, okres międzywojenny', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_169.jpg')
#new_auction(80370, 7021, 'Komplet 6 pucharków na tacy w stylu art. deco, okres międzywojenny', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_170.jpg')
#new_auction(80371, 7021, 'Puchar w stylu biedermeier, przed 1857 r.', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_171.jpg')
#new_auction(80372, 7021, 'Dzban do wina, XIX/XX w.', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_172.jpg')
#new_auction(80373, 7021, 'Karafka i para kieliszków, 1 poł. XX w.', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_173.jpg')
#new_auction(80374, 7021, 'Karafka art. deco, okres międzywojenny', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_174.jpg')
#new_auction(80375, 7021, 'Karafka, XIX/XX w.', 1200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_175.jpg')
#new_auction(80376, 7021, 'Figurka chłopca, XIX/XX w.', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_176.jpg')
#new_auction(80377, 7021, 'Figurka psa, 1915 r.', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_177.jpg')
#new_auction(80378, 7021, 'Car puszka - redukcja działa z moskiewskiego Kremla, około poł. XX w.', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_178.jpg')
#new_auction(80379, 7021, 'Zegar z figurą Henryka IV, ostatnia ćwierć XIX w.', 8000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_179.jpg')
#new_auction(80380, 7021, 'Zegar kominkowy, koniec XIX w.', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_180.jpg')
#new_auction(80381, 7021, 'Zegar podróżny tzw. kareciak, koniec XIX w.', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_181.jpg')
#new_auction(80382, 7021, 'Ramka na fotografię, XIX/XX w.', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_182.jpg')
#new_auction(80383, 7021, 'Zegarek kieszonkowy - model Goliath, około 1920 r.', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_183.jpg')
#new_auction(80384, 7021, 'Zegarek kieszonkowy, XX w.', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_184.jpg')
#new_auction(80385, 7021, 'Flakonik na perfumy, XX w.', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_185.jpg')
#new_auction(80386, 7021, 'Para ramek w stylu neorokokowym, XIX w.', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_186.jpg')
#new_auction(80387, 7021, 'Pudełeczko, XX w.', 700, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_187.jpg')
#new_auction(80388, 7021, 'Pudełko, koniec XIX w.', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_188.jpg')
#new_auction(80389, 7021, 'Pudełko na zegarek, XIX w.', 700, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_189.jpg')
#new_auction(80390, 7021, 'Notatnik z kości słoniowej, 3 ćwierć XVIII w.', 13000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_190.jpg')
#new_auction(80391, 7021, 'Mechaniczny zegarek dla nurków, 1966 r.', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_191.jpg')
#new_auction(80392, 7021, 'Mechaniczny zegarek dla nurków, 1966 r.', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_192.jpg')
#new_auction(80393, 7021, 'Mechaniczny zegarek dla nurków, 1966 r.', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_193.jpg')
#new_auction(80394, 7021, 'Bombonierka, lata 60-te XX w.', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_194.jpg')
#new_auction(80395, 7021, 'Wazon - wzór nr 272, lata 60-te XX w.', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_195.jpg')
#new_auction(80396, 7021, 'Świecznik podwójny - wzór nr 279, lata 60-te XX w.', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_196.jpg')
#new_auction(80397, 7021, 'Bombonierka - wzór nr 263, lata 60-te XX w.', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_197.jpg')
#new_auction(80398, 7021, 'Serwis do kawy Kajtek, lata 60-te XX w.', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_198.jpg')
#new_auction(80399, 7021, 'Wazonik - tykwa, lata 60-te XX w.', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_199.jpg')
#new_auction(80400, 7021, 'Wazon, lata 60-te XX w.', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_200.jpg')
#new_auction(80401, 7021, 'Figurka Sudanka, lata 60-te XX w.', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_201.jpg')
#new_auction(80402, 7021, 'Zestaw do kawy, lata 60-te XX w.', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_202.jpg')
#new_auction(80403, 7021, 'Figurka liska, lata 60-te XX w.', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_203.jpg')
#new_auction(80404, 7021, 'Figurka strusia z jajem, lata 60-te XX w.', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_204.jpg')
#new_auction(80405, 7021, 'Figurka - Kaczki, lata 60-te XX w.', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_205.jpg')
#new_auction(80406, 7021, 'Figurka - Para pijąca herbatę, 3 ćwierć XX w.', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_206.jpg')
#new_auction(80407, 7021, 'Figurka - Para w ukraińskich strojach ludowych, 3 ćwierć XX w.', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_207.jpg')
#new_auction(80408, 7021, 'Figurka - Zaloty popa, 3 ćwierć XX w.', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_208.jpg')
#new_auction(80409, 7021, 'Karafka i para kieliszków, lata 60-te XX w.', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_209.jpg')
#new_auction(80410, 7021, 'Figurka Estrella', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_210.jpg')
#new_auction(80411, 7021, 'Figurka tancerki', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_211.jpg')
#new_auction(80412, 7021, 'Figurka - Baletnica z lusterkiem', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_212.jpg')
#new_auction(80413, 7021, 'Figurka flecisty', 1300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_213.jpg')
#new_auction(80414, 7021, 'Figurka chłopca z cytrą', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_214.jpg')
#new_auction(80415, 7021, 'Figurka jamnika', 900, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_215.jpg')
#new_auction(80416, 7021, 'Figurka siedzącego buldoga', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_216.jpg')
#new_auction(80417, 7021, 'Lampa z figurką Pierrota i Kolombiny', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_217.jpg')
#new_auction(80418, 7021, 'Głowa Parysa', 7500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_218.jpg')
#new_auction(80419, 7021, 'Waza', 3500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_219.jpg')
#new_auction(80420, 7021, 'Popiersie dziewczynki', 700, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_220.jpg')
#new_auction(80421, 7021, 'Wazon secesyjny', 1000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_221.jpg')
#new_auction(80422, 7021, 'Puzderko', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_222.jpg')
#new_auction(80423, 7021, 'Herbatnica', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_223.jpg')
#new_auction(80424, 7021, 'Paterka', 200, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_224.jpg')
#new_auction(80425, 7021, 'Talerz', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_225.jpg')
#new_auction(80426, 7021, 'Zestaw 19 talerzyków deserowych', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_226.jpg')
#new_auction(80427, 7021, 'Wazon', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_227.jpg')
#new_auction(80428, 7021, 'Terynka', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_228.jpg')
#new_auction(80429, 7021, 'Wazon art. deco', 400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_229.jpg')
#new_auction(80430, 7021, 'Waza z pokrywą', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_230.jpg')
#new_auction(80431, 7021, 'Wazonik secesyjny w typie szkieł Loetz-Witwe', 300, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_231.jpg')
#new_auction(80432, 7021, 'Paterka', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_232.jpg')
#new_auction(80433, 7021, 'Wazon', 600, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_233.jpg')
#new_auction(80434, 7021, 'Przycisk do papieru', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_234.jpg')
#new_auction(80435, 7021, 'Wazon', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_235.jpg')
#new_auction(80436, 7021, 'Para kieliszków do wina', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_236.jpg')
#new_auction(80437, 7021, 'Thomas Dellert - Delacroix', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_237.jpg')
#new_auction(80438, 7021, 'Półka na wysokich nóżkach', 100, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_238.jpg')
#new_auction(80439, 7021, 'Komoda barokowa', 9000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_239.jpg')
#new_auction(80440, 7021, 'Kufer posagowy na kołach', 6000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_240.jpg')
#new_auction(80441, 7021, 'Kufer podróżny typu kasa', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_241.jpg')
#new_auction(80442, 7021, 'Dywan typu buchara', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_242.jpg')
#new_auction(80443, 7021, 'Dywan typu buchara', 1800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_243.jpg')
#new_auction(80444, 7021, 'Dywan typu buchara', 1500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_244.jpg')
#new_auction(80445, 7021, 'Poduszka Pushti (Balisht)', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_245.jpg')
#new_auction(80446, 7021, 'Poduszka Pushti (Balisht)', 500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_246.jpg')
#new_auction(80447, 7021, 'Figura Św. Jana Nepomucena', 2000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_247.jpg')
#new_auction(80448, 7021, 'Krzyż prawosławny', 800, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_248.jpg')
#new_auction(80449, 7021, 'Ikona z przedstawieniem świętych i błogosławiącego Chrystusa', 3500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_249.jpg')
#new_auction(80450, 7021, 'Ikona podróżna Deesis', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_250.jpg')
#new_auction(80451, 7021, 'Ikona - Chrystus Pantokrator', 2400, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_251.jpg')
#new_auction(80452, 7021, 'Ikona - Matka Boska Smoleńska', 3500, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_252.jpg')
#new_auction(80453, 7021, 'Ikona - sceny z życia Chrystusa i Starego Testamentu', 3000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_253.jpg')
#new_auction(80454, 7021, 'Ikona ze scenami z życia Chrystusa i Marii - Prazdnik', 10000, 'http://desa.pl/assets/images/_Aukcje/artoutlet/wyp007/wyp007_254.jpg')


#new_auction(80001, 7022, 'Kolczyki w typie art déco', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_001.jpg')
#new_auction(80002, 7022, 'Kolczyki art déco', 2400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_002.jpg')
#new_auction(80003, 7022, 'Pierścionek z szafirem', 2400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_003.jpg')
#new_auction(80004, 7022, 'Kolczyki z szafirami', 11000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_004.jpg')
#new_auction(80005, 7022, 'Pierścionek z szafirem', 3800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_005.jpg')
#new_auction(80006, 7022, 'Pierścionek secesyjny', 3800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_006.jpg')
#new_auction(80007, 7022, 'Kolczyki ze szmaragdami', 5000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_007.jpg')
#new_auction(80008, 7022, 'Pierścionek z rubinami', 4500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_008.jpg')
#new_auction(80009, 7022, 'Brosza biedermeier', 2400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_009.jpg')
#new_auction(80010, 7022, 'Pierścionek art déco', 3800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_010.jpg')
#new_auction(80011, 7022, 'Naszyjnik w typie negligée', 1700, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_011.jpg')
#new_auction(80012, 7022, 'Brosza rubinowa', 2400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_012.jpg')
#new_auction(80013, 7022, ' Kolczyki w typie art déco', 35000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_013.jpg')
#new_auction(80014, 7022, 'Wisiorek z łańcuszkiem, art déco', 9000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_014.jpg')
#new_auction(80015, 7022, 'Pierścionek w typie art déco', 7500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_015.jpg')
#new_auction(80016, 7022, 'Bransoleta art déco', 45000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_016.jpg')
#new_auction(80017, 7022, 'Komplet biżuterii: kolczyki, brosza i bransoleta', 9500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_017.jpg')
#new_auction(80018, 7022, 'Kolczyki dekorowane kameami', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_018.jpg')
#new_auction(80019, 7022, 'Kolczyki z rzeźbionym koralem', 5000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_019.jpg')
#new_auction(80020, 7022, 'Brosza dekorowana motywem kwiatowym', 11000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_020.jpg')
#new_auction(80021, 7022, 'Kolczyki z diamentami', 28000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_021.jpg')
#new_auction(80022, 7022, 'Pierścionek z diamentem, art déco', 50000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_022.jpg')
#new_auction(80023, 7022, 'Bransoleta', 48000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_023.jpg')
#new_auction(80024, 7022, 'Kolczyki z diamentami', 10000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_024.jpg')
#new_auction(80025, 7022, 'Wisiorek z opalami', 2000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_025.jpg')
#new_auction(80026, 7022, 'Medalion dekorowany motywem gwiazdy', 3000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_026.jpg')
#new_auction(80027, 7022, 'Brosza w formie głowy kota', 3000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_027.jpg')
#new_auction(80028, 7022, 'Brosza - stylizowany tygrys', 3500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_028.jpg')
#new_auction(80029, 7022, 'Bransoleta grawerowana, Polska', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_029.jpg')
#new_auction(80030, 7022, 'Kolczyki diamentowe', 14000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_030.jpg')
#new_auction(80031, 7022, 'Pierścionek secesyjny', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_031.jpg')
#new_auction(80032, 7022, 'Broszo-wisior dekorowany kokardą', 10000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_032.jpg')
#new_auction(80033, 7022, 'Broszo-wisior', 32000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_033.jpg')
#new_auction(80034, 7022, 'Kolczyki dekorowane motywem kwiatowym', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_034.jpg')
#new_auction(80035, 7022, 'Naszyjnik secesyjny', 11000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_035.jpg')
#new_auction(80036, 7022, 'Pierścionek art déco', 24000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_036.jpg')
#new_auction(80037, 7022, 'Brosza z perłą', 12000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_037.jpg')
#new_auction(80038, 7022, 'Pierścionek', 11000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_038.jpg')
#new_auction(80039, 7022, 'Bransoleta, tzw. tenisówka', 45000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_039.jpg')
#new_auction(80040, 7022, 'Kolczyki dekorowane perłami', 14000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_040.jpg')
#new_auction(80041, 7022, 'Pierścionek', 4800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_041.jpg')
#new_auction(80042, 7022, 'Bransoleta', 4800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_042.jpg')
#new_auction(80043, 7022, 'Pierścionek diamentowy', 8500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_043.jpg')
#new_auction(80044, 7022, 'Kolczyki w formie kwiatów', 2000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_044.jpg')
#new_auction(80045, 7022, 'Bransoleta z rautami diamentowymi', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_045.jpg')
#new_auction(80046, 7022, 'Wisiorek art déco', 4500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_046.jpg')
#new_auction(80047, 7022, 'Pierścionek art déco', 18000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_047.jpg')
#new_auction(80048, 7022, 'Bransoletka z diamentami', 18000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_048.jpg')
#new_auction(80049, 7022, 'Pierścionek z diamentem', 65000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_049.jpg')
#new_auction(80050, 7022, 'Kolczyki-klipsy', 2200, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_050.jpg')
#new_auction(80051, 7022, 'Brosza dekorowana perłami', 5500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_051.jpg')
#new_auction(80052, 7022, 'Brosza biedermeier', 2800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_052.jpg')
#new_auction(80053, 7022, 'Komplet biżuterii dekorowany motywem kokardy', 4000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_053.jpg')
#new_auction(80054, 7022, 'Brosza w formie kwiatu', 11000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_054.jpg')
#new_auction(80055, 7022, 'Pierścionek secesyjny', 9500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_055.jpg')
#new_auction(80056, 7022, 'Broszo-wisior z szafirem', 28000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_056.jpg')
#new_auction(80057, 7022, 'Naszyjnik-biżuteria wielofunkcyjna: kolczyki, 2 bransolety', 48000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_057.jpg')
#new_auction(80058, 7022, 'Wisiorek z motywem jaskółek i serca', 5500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_058.jpg')
#new_auction(80059, 7022, 'Brosza - bukiet fiołków', 2400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_059.jpg')
#new_auction(80060, 7022, 'Pierścionek z ametystem', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_060.jpg')
#new_auction(80061, 7022, 'Wisior edwardiański', 10000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_061.jpg')
#new_auction(80062, 7022, 'Bransoleta z charmsami', 16000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_062.jpg')
#new_auction(80063, 7022, 'Obrączka grawerowana', 3200, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_063.jpg')
#new_auction(80064, 7022, 'Obrączka diamentowa', 2800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_064.jpg')
#new_auction(80065, 7022, 'Obrączka w typie Cartier', 2800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_065.jpg')
#new_auction(80066, 7022, 'Pierścionek z diamentem', 130000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_066.jpg')
#new_auction(80067, 7022, 'Brosza w formie motyla', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_067.jpg')
#new_auction(80068, 7022, 'Brosza-motyl', 2000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_068.jpg')
#new_auction(80069, 7022, 'Brosza-w formie motyla', 6500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_069.jpg')
#new_auction(80070, 7022, 'Wisiorek secesyjny', 5000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_070.jpg')
#new_auction(80071, 7022, 'Wisiorek dekorowany liśćmi bluszczu', 2800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_071.jpg')
#new_auction(80072, 7022, 'Wisior z ametystem', 15000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_072.jpg')
#new_auction(80073, 7022, 'Kolczyki z rodolitami', 22000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_073.jpg')
#new_auction(80074, 7022, 'Kolczyki z rubinami', 22000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_074.jpg')
#new_auction(80075, 7022, 'Pierścionek z granatami', 26000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_075.jpg')
#new_auction(80076, 7022, 'Brosza z cytrynami, Tiffany', 15000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_076.jpg')
#new_auction(80077, 7022, 'Naszyjnik perłowy z ozdobnym wisiorem', 10000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_077.jpg')
#new_auction(80078, 7022, 'Bransoleta z tanzanitem', 17000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_078.jpg')
#new_auction(80079, 7022, 'Kolczyki z perłami australijskimi', 8500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_079.jpg')
#new_auction(80080, 7022, 'Naszyjnik perłowy', 17000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_080.jpg')
#new_auction(80081, 7022, 'Kolczyki w formie stylizowanych bratków', 32000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_081.jpg')
#new_auction(80082, 7022, 'Kolczyki diamentowe', 24000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_082.jpg')
#new_auction(80083, 7022, 'Pierścionek art déco', 26000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_083.jpg')
#new_auction(80084, 7022, 'Bransoleta art déco', 95000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_084.jpg')
#new_auction(80085, 7022, 'Kolczyki szmaragdowe', 35000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_085.jpg')
#new_auction(80086, 7022, 'Wisior z motywem lwa, Pierret', 4500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_086.jpg')
#new_auction(80087, 7022, 'Bransoleta filigranowa', 8500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_087.jpg')
#new_auction(80088, 7022, 'Komplet biżuterii: kolczyki, brosza i bransoleta', 10000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_088.jpg')
#new_auction(80089, 7022, 'Wisior ze sceną rodzajową', 2200, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_089.jpg')
#new_auction(80090, 7022, 'Medalion dekorowany motywem kokardy', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_090.jpg')
#new_auction(80091, 7022, 'Kolczyki filigranowe', 3500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_091.jpg')
#new_auction(80092, 7022, ' Naszyjnik z turkusami', 2200, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_092.jpg')
#new_auction(80093, 7022, 'Bransoleta emaliowana z turkusami', 7000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_093.jpg')
#new_auction(80094, 7022, 'Kolczyki z szafirami', 15000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_094.jpg')
#new_auction(80095, 7022, 'Pierścionek z szafirem, ', 24000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_095.jpg')
#new_auction(80096, 7022, 'Pierścionek ze szmaragdem', 48000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_096.jpg')
#new_auction(80097, 7022, 'Naszyjnik dekorowany szmaragdowym sercem', 80000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_097.jpg')
#new_auction(80098, 7022, 'Kolczyki perłowe', 32000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_098.jpg')
#new_auction(80099, 7022, 'Kolczyki z rozetami', 10000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_099.jpg')
#new_auction(80100, 7022, 'Broszo-naszyjnik perłowy, ', 40000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_100.jpg')
#new_auction(80101, 7022, 'Kolczyki z szafirami', 16000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_101.jpg')
#new_auction(80102, 7022, 'Pierścionek w typie art déco', 24000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_102.jpg')
#new_auction(80103, 7022, 'Pierścionek z diamentem i szafirami', 10000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_103.jpg')
#new_auction(80104, 7022, 'Naszyjnik dekorowany motywem kokardy', 38000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_104.jpg')
#new_auction(80105, 7022, 'Kolczyki z granatami', 2800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_105.jpg')
#new_auction(80106, 7022, 'Brosza-żółw', 2800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_106.jpg')
#new_auction(80107, 7022, 'Bransoleta z granatem', 9500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_107.jpg')
#new_auction(80108, 7022, 'Komplet biżuterii', 9500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_108.jpg')
#new_auction(80109, 7022, 'Brosza w formie stylizowanego kwiatu kalii, Damiani', 14000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_109.jpg')
#new_auction(80110, 7022, 'Pierścionek z diamentami i rubinami, Damiani', 5500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_110.jpg')
#new_auction(80111, 7022, 'Szpilka do krawata w formie kwiatu', 600, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_111.jpg')
#new_auction(80112, 7022, 'Szpilka do krawata w formie koniczyny', 1500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_112.jpg')
#new_auction(80113, 7022, 'Szpilka do krawata', 1000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_113.jpg')
#new_auction(80114, 7022, 'Wykałaczka-wisiorek', 1900, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_114.jpg')
#new_auction(80115, 7022, 'Etui na igły', 1400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_115.jpg')
#new_auction(80116, 7022, 'Sygnet herbowy', 2400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_116.jpg')
#new_auction(80117, 7022, 'Spinki do mankietów', 900, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_117.jpg')
#new_auction(80118, 7022, 'Spinki do mankietów, art déco', 800, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_118.jpg')
#new_auction(80119, 7022, 'Komplet spinek: do mankietów i kołnierzyka', 6000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_119.jpg')
#new_auction(80120, 7022, 'Komplet spinek: do mankietów i kołnierzyka ', 3500, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_120.jpg')
#new_auction(80121, 7022, 'Spinki do mankietów', 2400, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_121.jpg')
#new_auction(80122, 7022, 'Spinki do mankietów', 600, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_122.jpg')
#new_auction(80123, 7022, 'Zegarek, Czapek and Co.', 8000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_123.jpg')
#new_auction(80124, 7022, 'Pudełko na zapałki, Fabergé', 14000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_124.jpg')
#new_auction(80125, 7022, 'Kowsz, Petersburg', 14000, 'http://desa.pl/assets/images/_Aukcje/Bizuterii/16Bizu/16_ABD_125.jpg')


#new_auction(80754, 7023, 'Józef Pankiewicz akwaforta/papier, 18 x 11 cm (odbitka) 27 x 19 cm (arkusz)', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_001.jpg')
#new_auction(80755, 7023, 'Józef Pankiewicz sucha igła/papier żeberkowy, 13,8 x 19,9 cm', 1400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_002.jpg')
#new_auction(80756, 7023, 'Józef Pankiewicz akwaforta/papier japoński, 17,5 x 11,9 cm (odbitka), 23,5 x 17 cm', 1800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_003.jpg')
#new_auction(80757, 7023, 'Napoleon Orda litografia/papier, 25,5 x 30 cm (wymiary w świetle passe-partout)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_004.jpg')
#new_auction(80758, 7023, 'Napoleon Orda litografia/papier, 25,5 x 30 cm (wymiary w świetle passe-partout)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_005.jpg')
#new_auction(80759, 7023, 'Napoleon Orda litografia/papier, 29 x 42 cm', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_006.jpg')
#new_auction(80760, 7023, 'Napoleon Orda litografia/papier, 29 x 42 cm', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_007.jpg')
#new_auction(80761, 7023, 'Jan Piotr Norblin de la Gourdaine akwaforta/papier, 10,5 x 7,5 cm (odbitka)', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_008.jpg')
#new_auction(80762, 7023, 'Jan Piotr Norblin de la Gourdaine tusz/papier, akwaforta/papier, 16,5 x 11,5 cm (odbitka)', 1500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_009.jpg')
#new_auction(80763, 7023, 'Hieronimus Benedicti miedzioryt/papier, 90 x 103,5 cm (arkusz w świetle ramy)', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_010.jpg')
#new_auction(80764, 7023, 'Joan Bleau gwasz/papier, miedzioryt/papier, 48 x 56 cm (arkusz w świetle oprawy)', 3000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_011.jpg')
#new_auction(80765, 7023, 'Marian Bąkowski, Marian Łomnicki litografia barwna/papier, 29 x 37 cm (w świetle passe-partout)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_012.jpg')
#new_auction(80766, 7023, 'Marian Bąkowski, Marian Łomnicki litografia barwna/papier, 29 x 37 cm (w świetle passe-partout)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_013.jpg')
#new_auction(80767, 7023, 'Marian Bąkowski, Marian Łomnicki litografia barwna/papier, 29 x 37 cm (w świetle passe-partout)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_014.jpg')
#new_auction(80768, 7023, 'Marian Bąkowski, Marian Łomnicki litografia barwna/papier, 29,5 x 37 cm (w świetle passe-partout)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_015.jpg')
#new_auction(80769, 7023, 'Stanisław Ostoja - Chrostowski drzeworyt/papier, 22,3 x 20 cm (odbitka)', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_016.jpg')
#new_auction(80770, 7023, 'Stanisław Ostoja - Chrostowski drzeworyt/papier, 10 x 14 cm (arkusz w świetle passe-partout)', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_017.jpg')
#new_auction(80771, 7023, 'Edmund Ludwik Bartłomiejczyk drzeworyt/papier, 24,8 x 25 cm (odbitka) 24,8 x 25 cm (arkusz)', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_018.jpg')
#new_auction(80772, 7023, 'Władysław Skoczylas drzeworyt/papier, 25 x 34 cm (arkusz)', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_019.jpg')
#new_auction(80773, 7023, 'Tadeusz Cieślewski (syn) drzeworyt/papier, 17,5 x 12,7 cm (w świetle passe-partout)', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_020.jpg')
#new_auction(80774, 7023, 'Odo Dobrowolski litografia/papier, 29,5 x 40 cm (w świetle passe-partout)', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_021.jpg')
#new_auction(80775, 7023, 'Zofia Stryjeńska pochoir ręcznie kolorowana gwaszem/papier, 50 x 39,5 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_022.jpg')
#new_auction(80776, 7023, 'Zofia Stryjeńska pochoir ręcznie kolorowana gwaszem/papier, 47 x 36', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_023.jpg')
#new_auction(80777, 7023, 'Antoni Procajłowicz litografia barwna/papier, 46,5 x 26,5 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_024.jpg')
#new_auction(80778, 7023, 'Stanisław Szreniawa - Rzecki litografia/papier, 50 x 32 cm', 700, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_025.jpg')
#new_auction(80779, 7023, 'Karol Frycz litografia barwna/papier, 46 x 30,8 cm', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_026.jpg')
#new_auction(80780, 7023, 'Stefan Szmaj linoryt/papier, 15 x 10 cm (odbitka)', 7000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_027.jpg')
#new_auction(80781, 7023, 'Stefan Mrożewski drzeworyt/papier, Teka 11 drzeworytów; średni wymiar odbitki.: 20 x 16 cm, wymiar planszy: 44 x 33,5 cm', 6500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_028.jpg')
#new_auction(80782, 7023, 'Jan Bukowski linoryt/papier, 18 x 13 cm (arkusz)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_029.jpg')
#new_auction(80783, 7023, 'Felicjan Szczęsny Kowarski litografia/papier, 32 x 32 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_030.jpg')
#new_auction(80784, 7023, 'Tadeusz Cieślewski (syn) drzeworyt/papier, 43 x 29,5 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_031.jpg')
#new_auction(80785, 7023, 'Jan Rubczak akwaforta/papier, 14,5 x 17,6 cm (odbitka) 20,5 x 24 cm (arkusz)', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_032.jpg')
#new_auction(80786, 7023, 'Zofia Stankiewicz akwaforta/papier, 25,5 x 30,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_033.jpg')
#new_auction(80787, 7023, 'Odo Dobrowolski litografia/papier, 29 x 39,5 cm (w świetle passe-partout)', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_034.jpg')
#new_auction(80788, 7023, 'Józef Mehoffer litografia/papier, 37,5 x 27,5 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_035.jpg')
#new_auction(80789, 7023, 'Aleksander Laszenko drzeworyt barwny/papier, 46 x 28 cm (w świetle passe-partout)', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_036.jpg')
#new_auction(80790, 7023, 'Leon Wyczółkowski litografia/papier, 21,5 x 18 cm (w świetle passe-partout)', 900, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_037.jpg')
#new_auction(80791, 7023, 'Władysław Jahl akwaforta/papier, Teka 14 akwafort, 27 x 21 cm (odbitka) 38 x 28 cm (arkusz)', 3000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_038.jpg')
#new_auction(80792, 7023, 'Stanisław Ostoja - Chrostowski drzeworyt/papier, 16 x 12,5 cm (w świetle passe-partout)', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_039.jpg')
#new_auction(80793, 7023, 'Andrzej Jurkiewicz litografia/papier, 31,6 x 23,6 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_040.jpg')
#new_auction(80794, 7023, 'Jankiel Adler monotypia/papier, 25,5 x 19,5 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_041.jpg')
#new_auction(80795, 7023, 'Eugeniusz Zak miękki werniks/papier  13 x 14 cm (w świetle passe-partout)', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_042.jpg')
#new_auction(80796, 7023, 'Zygmunt Józef Menkes litografia/papier, 41 x 30 cm (odbitka)', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_043.jpg')
#new_auction(80797, 7023, 'Henryk Hayden litografia barwna/papier, 42 x 65 cm', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_044.jpg')
#new_auction(80798, 7023, 'Irena Hassenberg (Reno) litografia barwna/papier, 40,5 x 50 cm', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_045.jpg')
#new_auction(80799, 7023, 'Irena Hassenberg (Reno) litografia barwna/papier, 50 x 40,2 cm', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_046.jpg')
#new_auction(80800, 7023, 'Janina Konarska drzeworyt barwny/papier, 27 x 31,5 cm', 3000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_047.jpg')
#new_auction(80801, 7023, 'Stefan Rassalski drzeworyt/papier, 30 x 20,5 cm (w świetle passe-partout)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_048.jpg')
#new_auction(80802, 7023, 'Dariusz Wąsowicz akwaforta,akwatinta/papier, 24,7 x 21 cm (odbitka)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_049.jpg')
#new_auction(80803, 7023, 'Władysław Zakrzewski akwaforta/papier, 17 x 10,5 cm (odbitka)', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_050.jpg')
#new_auction(80804, 7023, 'Feliks Jabłczyński technika własna/papier, 12 x 7,5 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_051.jpg')
#new_auction(80805, 7023, 'Stefan Mrożewski miedzioryt/papier, 14,5 x 10 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_052.jpg')
#new_auction(80806, 7023, 'Stanisław Ostoja - Chrostowski drzeworyt/papier, 33 x 22,5 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_053.jpg')
#new_auction(80807, 7023, 'Eugeniusz Zak miękki werniks/papier, 22,5 x 20 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_054.jpg')
#new_auction(80808, 7023, 'Johann Adam Dalensbach miedzioryt/papier, 33 x 25 cm', 200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_055.jpg')
#new_auction(80809, 7023, 'Salomon Kleiner miedzioryt/papier, 23 x 33 cm (w świetle passe-partout)', 200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_056.jpg')
#new_auction(80810, 7023, 'Autor Nierozpoznany miedzioryt kolorowany ręcznie/papier, 28 x 41,5 cm  (w świetle passe-partout)', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_057.jpg')
#new_auction(80811, 7023, 'Władysław Bielecki drzeworyt/papier, 39,5 x 30,5 cm (w świetle passe-partout)', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_058.jpg')
#new_auction(80812, 7023, 'Stanisław Raczyński drzeworyt barwny/papier, 32 x 25 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_059.jpg')
#new_auction(80813, 7023, 'Maria Huthowa akwatinta/papier, 16 x 20,5 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_060.jpg')
#new_auction(80814, 7023, 'Dariusz Wąsowicz akwaforta/papier, 16,5 x 13,5 cm', 200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_061.jpg')
#new_auction(80815, 7023, 'Mojżesz Kisling akwatinta/papier, 42 x 34,5 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_062.jpg')
#new_auction(80816, 7023, 'Chaim Goldberg akwaforta/papier, 70 x 56,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_063.jpg')
#new_auction(80817, 7023, 'Chaim Goldberg akwaforta/papier, 57 x 37 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_064.jpg')
#new_auction(80818, 7023, 'Ando Hiroshige drzeworyt barwny nishiki-e/papie, 20,5 x 26,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_065.jpg')
#new_auction(80819, 7023, 'Utagawa Kunisada drzeworyt barwny nishiki-e, format oban tate-e/papier, 33 x 24,5 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_066.jpg')
#new_auction(80820, 7023, 'Utagawa Kuniyoshi drzeworyt barwny nishiki-e, format oban tate-e/papier, 33 x 24,5 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_067.jpg')
#new_auction(80821, 7023, 'Henryk Berlewi litografia barwna/papier, 60 x 49,5 cm', 5500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_068.jpg')
#new_auction(80822, 7023, 'Henryk Berlewi litografia/papier, 61,5 x 50 cm', 4500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_069.jpg')
#new_auction(80823, 7023, 'Pablo Picasso litografia/papier, 31,5 x 23,5 cm', 30000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_070.jpg')
#new_auction(80824, 7023, 'Wojciech Fangor serigrafia barwna/papier, 69,5 x 73 cm', 7000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_071.jpg')
#new_auction(80825, 7023, 'Wojciech Fangor serigrafia barwna/papier, 66,5 x 66,5 cm (odbitka) 70,5 x 69 cm (w świetle passe-partout)', 12000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_072.jpg')
#new_auction(80826, 7023, 'Henryk Stażewski serigrafia/papier, 45 x 45 cm (w świetle passe-partout)', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_073.jpg')
#new_auction(80827, 7023, 'Henryk Stażewski serigrafia/papier, 57 x 57 cm, (w świetle passe-partout)', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_074.jpg')
#new_auction(80828, 7023, 'Henryk Stażewski serigrafia/papier, 14,9 x 14 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_075.jpg')
#new_auction(80829, 7023, 'Koji Kamoji serigrafia barwna/papier, 59 x 59 cm (w świetle passe-partout)', 1500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_076.jpg')
#new_auction(80830, 7023, 'Richard Anuszkiewicz ołówek/papier, serigrafia barwna/papier, 54 x 54 cm (odbitka) 76,5 x 76,5 cm', 2000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_077.jpg')
#new_auction(80831, 7023, 'Richard Anuszkiewicz ołówek/papier, serigrafia barwna/papier, 54 x 54 cm (odbitka) 76,5 x 76,5 cm (arkusz)', 2000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_078.jpg')
#new_auction(80832, 7023, 'Victor Vasarely serigrafia barwna/papier, 81 x 76,2 cm', 2600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_079.jpg')
#new_auction(80833, 7023, 'Victor Vasarely serigrafia barwna/papier, 82,5 x 81,5 cm', 2600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_080.jpg')
#new_auction(80834, 7023, 'Magdalena Abakanowicz sucha igła/papier, 48,5 x 64 cm', 6500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_081.jpg')
#new_auction(80835, 7023, 'Magdalena Abakanowicz sucha igła/papier, 64 x 48 cm', 6500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_082.jpg')
#new_auction(80836, 7023, 'Igor Mitoraj litografia/papier, 32 x 25,5 cm', 2800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_083.jpg')
#new_auction(80837, 7023, 'Jerzy Nowosielski serigrafia/papier, 92 x 70 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_084.jpg')
#new_auction(80838, 7023, 'Jerzy Nowosielski serigrafia barwna/papier, 70 x 49,7 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_085.jpg')
#new_auction(80839, 7023, 'Jerzy Nowosielski serigrafia barwna/papier, 70 x 85 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_086.jpg')
#new_auction(80840, 7023, 'Jarosław Modzelewski inkografia/papier, 23 x 30 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_087.jpg')
#new_auction(80841, 7023, 'Jarosław Modzelewski inkografia/papier, 40 x 60 cm', 1300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_088.jpg')
#new_auction(80842, 7023, 'Edward Dwurnik inkografia/papier, 60 x 44 cm', 1300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_089.jpg')
#new_auction(80843, 7023, 'Edward Dwurnik inkografia/papier, 30 x 25 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_090.jpg')
#new_auction(80844, 7023, 'Jan Dobkowski inkografia/papier, 22 x 30 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_091.jpg')
#new_auction(80845, 7023, 'Jan Dobkowski inkografia/papier, 20 x 30 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_092.jpg')
#new_auction(80846, 7023, 'Rafał Olbiński inkografia/papier, 30 x 23 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_093.jpg')
#new_auction(80847, 7023, 'Rafał Olbiński inkografia/papier, 60 x 48 cm', 1800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_094.jpg')
#new_auction(80848, 7023, 'Tadeusz Dominik inkografia/papier, 25 x 35 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_095.jpg')
#new_auction(80849, 7023, 'Tadeusz Dominik inkografia/papier, 50 x 50 cm', 1800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_096.jpg')
#new_auction(80850, 7023, 'Waldemar Świerzy inkografia/papier, 23 x 25 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_097.jpg')
#new_auction(80851, 7023, 'Waldemar Świerzy inkografia/papier, 19 x 30 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_098.jpg')
#new_auction(80852, 7023, ' Kaspar Thomas Lenk (ur. 1933 r.), Georg Karl Pfahler (1926 - 2002), Günther Uecker (ur. 1930 r.), Heinz Mack (ur. 1931 r.) ', 2500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_099.jpg')
#new_auction(80853, 7023, 'Robert Rauschenberg serigrafia barwna/papier, 67,5 x 99,3 cm (w świetle oprawy)', 2200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_100.jpg')
#new_auction(80854, 7023, 'Jerzy Panek odprysk/papier, 34 x 33 cm', 2500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_101.jpg')
#new_auction(80855, 7023, 'Jerzy Panek akwaforta/papier, 79 x 59 cm (arkusz)', 2000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_102.jpg')
#new_auction(80856, 7023, 'Jerzy Panek drzeworyt/papier, 52 x 71 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_103.jpg')
#new_auction(80857, 7023, 'Józef Gielniak linoryt/bibułka, 17,5 x 24 cm (odbitka) 47 x 47 cm (arkusz)', 1600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_104.jpg')
#new_auction(80858, 7023, ' Józef Gielniak linoryt/bibułka, 35 x 29,5 cm (odcisk) 52 x 42 cm (arkusz)', 2400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_105.jpg')
#new_auction(80859, 7023, 'Józef Gielniak linoryt/bibułka, 35 x 29,5 cm (odcisk) 52 x 42 cm (arkusz)', 2400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_106.jpg')
#new_auction(80860, 7023, 'Janusz Przybylski akwaforta, akwatinta/papier, 65 x 51 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_107.jpg')
#new_auction(80861, 7023, 'Roman Cieślewicz offset/papier, 80,5 x 60 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_108.jpg')
#new_auction(80862, 7023, 'Jacek Sroka akwaforta, akwatinta/papier, 77 x 64,5 cm', 1600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_109.jpg')
#new_auction(80863, 7023, 'Jan Tarasin serigrafia barwna/papier, 50 x 70 cm', 4000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_110.jpg')
#new_auction(80864, 7023, 'Jan Tarasin serigrafia barwna/papier, 50 x 70 cm', 4000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_111.jpg')
#new_auction(80865, 7023, 'Jan Tarasin serigrafia/papier, 39,5 x 30 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_112.jpg')
#new_auction(80866, 7023, 'Jan Tarasin pastel/papier, serigrafia/papier, 39,5 x 30 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_113.jpg')
#new_auction(80867, 7023, 'Stefan Gierowski serigrafia barwna/papier, 27,5 x 18,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_114.jpg')
#new_auction(80868, 7023, 'Henryk Płóciennik monotypia/papier, 60 x 46 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_115.jpg')
#new_auction(80869, 7023, 'Mariusz Kruk serigrafia barwna/papier, 49,5 x 35 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_116.jpg')
#new_auction(80870, 7023, 'Roman Artymowski drzeworyt wypukły, gauffrage/papier, 21,5 x 21,5 cm', 700, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_117.jpg')
#new_auction(80871, 7023, 'Stanisław Fijałkowski grafika komputerowa/papier, 15 x 10,5 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_118.jpg')
#new_auction(80872, 7023, 'Stanisław Fijałkowski serigrafia barwna/papier, 76 x 55 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_119.jpg')
#new_auction(80873, 7023, 'Jerzy Grabowski gauffrage/papier, 52 x 41 cm (w świetle passe-partout)', 2200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_120.jpg')
#new_auction(80874, 7023, 'Antoni Starczewski gauffrage/papier, 15,5 x 11 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_121.jpg')
#new_auction(80875, 7023, 'Antoni Starczewski serigrafia barwna/papier, 58,5 x 58 cm', 1500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_122.jpg')
#new_auction(80876, 7023, 'Roman Cieślewicz offset/papier, 65 x 38 cm', 2500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_123.jpg')
#new_auction(80877, 7023, 'Roman Cieślewicz offset/papier, 56 x 40,2 cm', 2500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_124.jpg')
#new_auction(80878, 7023, 'Henryk Tomaszewski serigrafia barwna/papier, 40,5 x 69,5 cm', 4500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_125.jpg')
#new_auction(80879, 7023, 'Edward Dwurnik sucha igła/papier, 29,5 x 19 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_126.jpg')
#new_auction(80880, 7023, 'Edward Dwurnik akwaforta/papier, 32 x 24,5 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_127.jpg')
#new_auction(80881, 7023, 'Wilhelm Sasnal litografia/papier, 49 x 58 cm', 700, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_128.jpg')
#new_auction(80882, 7023, 'Antoni Alster drzeworyt/papier, 31 x 35,5 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_129.jpg')
#new_auction(80883, 7023, 'Stefan Suberlak litografia/papier, 65 x 80 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_130.jpg')
#new_auction(80884, 7023, 'Felicja Pacanowska litografia barwna/bibułka, 41 x 56 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_131.jpg')
#new_auction(80885, 7023, 'Leon Tarasewicz serigrafia barwna/papier, 35 x 45 cm (w świetle passe-partout)', 2000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_132.jpg')
#new_auction(80886, 7023, 'Jan Lebenstein litografia barwna/papier, 69 x 49 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_133.jpg')
#new_auction(80887, 7023, 'Jan Lebenstein litografia barwna/papier, 47,5 x 49 cm', 1400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_134.jpg')
#new_auction(80888, 7023, 'Jan Lebenstein litografia/papier, 45,5 x 45,5 cm', 1400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_135.jpg')
#new_auction(80889, 7023, 'Jan Lebenstein litografia barwna/papier, 30 x 49,5 cm', 1400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_136.jpg')
#new_auction(80890, 7023, 'Franciszek Starowieyski serigrafia barwna/papier, 50 x 70 cm', 1500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_137.jpg')
#new_auction(80891, 7023, 'Zdzisław Beksiński grafika komputerowa/papier, 21 x 30 cm', 700, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_138.jpg')
#new_auction(80892, 7023, 'Franciszek Starowieyski serigrafia barwna/papier, 72 x 44 cm', 2200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_139.jpg')
#new_auction(80893, 7023, 'Krzysztof Litwin akwaforta, akwatinta/papier, 24,7 x 19,5 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_140.jpg')
#new_auction(80894, 7023, 'Franciszek Bunsch miedzioryt/papier, 28,5 x 20 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_141.jpg')
#new_auction(80895, 7023, 'Danuta Leszczyńska-Kluza akwaforta, gwasz/papier, 75 x 39 cm', 3000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_142.jpg')
#new_auction(80896, 7023, 'Mieczysław Wejman akwaforta/papier, 40 x 49 cm', 2500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_143.jpg')
#new_auction(80897, 7023, 'Adam Marczyński akwaforta/papier, 29,5 x 41,5 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_144.jpg')
#new_auction(80898, 7023, 'Konrad Srzednicki akwaforta, akwatinta/papier, 49,5 x 59,5 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_145.jpg')
#new_auction(80899, 7023, 'Stefan Krygier linoryt/papier, 48 x 27,5 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_146.jpg')
#new_auction(80900, 7023, 'Stanisław Wójtowicz drzeworyt/pergamin, 32,5 x 21 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_147.jpg')
#new_auction(80901, 7023, 'Rajmund Ziemski monotypia/papier, 21 x 24 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_148.jpg')
#new_auction(80902, 7023, 'Jerzy Tchórzewski drzeworyt, akwarela/papier, 22,9 x 22,2 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_149.jpg')
#new_auction(80903, 7023, 'Grzegorz Bienias akwaforta/papier, 52,5 x 68 cm, (w świetle passe-partout)', 1500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_150.jpg')
#new_auction(80904, 7023, 'Konrad Srzednicki litografia barwna/papier, 50 x 70 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_151.jpg')
#new_auction(80905, 7023, 'Ryszard Grzyb serigrafia barwna/papier, 41 x 57 cm (w świetle passe-partout)', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_152.jpg')
#new_auction(80906, 7023, 'JirI Bouda (ur. 1934 r.), Radomir Kolar (1924 -1993), Jan Mikes, Jozef Nemec, Jaromir Schor, Ivo Schurman (ur. 1935 r.), Jiri Sebek, Vladimir Solta (1924 - 1977) wymiar arkusza: 38 x 48 cm', 900, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_153.jpg')
#new_auction(80907, 7023, 'Grupa Twożywo druk/papier', 3000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_154.jpg')
#new_auction(80908, 7023, 'Józef Czajkowski litografia barwna/papier, 98 x 73,5 cm', 7500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_155.jpg')
#new_auction(80909, 7023, 'Plakat Jubilaeums-Ausstellung, 1898 r. litografia barwna/papier, 89 x 119,5 cm', 9000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_156.jpg')
#new_auction(80910, 7023, 'Plakat reklamowy Plasmon - Siebold-s Milcheiweiss, 1901 r. litografia barwna/papier, 94 x 76 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_157.jpg')
#new_auction(80911, 7023, 'Plakat reklamowy Zdrowotne Izdebnickie Jarzębinowe wódki z fabryki księcia Rainera, przed 1901 r. litografia barwna/papier, 93 x 60 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_158.jpg')
#new_auction(80912, 7023, 'Plakat reklamowy Slavia, przed 1899 r. litografia barwna/papier, 85,5 x 63 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_159.jpg')
#new_auction(80913, 7023, 'Plakat reklamowy zakładów rowerowych Monarch Fahrrad - Werke, 1900 r. litografia barwna/papier, 107 x 77 cm', 3500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_160.jpg')
#new_auction(80914, 7023, 'Stefan Norblin litografia barwna/papier, 80 x 55 cm', 3000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_161.jpg')
#new_auction(80915, 7023, 'Waldemar Świerzy offset/papier, 100 x 70 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_162.jpg')
#new_auction(80916, 7023, 'Henryk Tomaszewski offset/papier, 61 x 86 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_163.jpg')
#new_auction(80917, 7023, 'Jerzy Bereś technika własna/papier, 50 x 35 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_164.jpg')
#new_auction(80918, 7023, 'Franciszek Starowieyski offset/papier, 100 x 70 cm', 700, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_165.jpg')
#new_auction(80919, 7023, 'Witold Janowski offset/papier, 85 x 58 cm', 700, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_166.jpg')
#new_auction(80920, 7023, 'Wojciech Zamecznik offset/papier, 88 x 61 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_167.jpg')
#new_auction(80921, 7023, 'Barbara Baranowska offset/papier, 58,5 x 85 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_168.jpg')
#new_auction(80922, 7023, 'Maciej Hibner offset/papier, 84 x 58,5 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_169.jpg')
#new_auction(80923, 7023, 'Henryk Tomaszewski offset/papier, 67 x 97 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_170.jpg')
#new_auction(80924, 7023, 'Franciszek Starowieyski offset/papier, 81 x 58 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_171.jpg')
#new_auction(80925, 7023, 'Wiktor Górka offset/papier, 89,5 x 58 cm', 1200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_172.jpg')
#new_auction(80926, 7023, 'Jerzy Flisak offset/papier, 84 x 58 cm', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_173.jpg')
#new_auction(80927, 7023, 'Andrzej Krajewski offset/papier, 82,5 x 57,5 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_174.jpg')
#new_auction(80928, 7023, 'Wojciech Zamecznik offset/papier, 82 x 57 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_175.jpg')
#new_auction(80929, 7023, 'Witold Janowski offset/papier, 82 x 58 cm', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_176.jpg')
#new_auction(80930, 7023, 'Roman Cieślewicz offset/papier, 70 x 50 cm', 300, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_177.jpg')
#new_auction(80931, 7023, 'Jerzy Jaworski offset/papier, 70 x 50 cm', 600, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_178.jpg')
#new_auction(80932, 7023, 'Jan Młodożeniec offset/papier, 96 x 66,5 cm', 200, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_179.jpg')
#new_auction(80933, 7023, 'Jan Sawka offset/papier, 84 x 53 cm', 800, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_180.jpg')
#new_auction(80934, 7023, 'Jerzy Flisak offset/papier, 68 x 48 cm', 100, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_181.jpg')
#new_auction(80935, 7023, 'Jerzy Flisak offset/papier, 68 x 48 cm', 100, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_182.jpg')
#new_auction(80936, 7023, 'Roman Cieślewicz offset/papier, 85 x 59 cm', 1000, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_183.jpg')
#new_auction(80937, 7023, 'Jan Sawka offset/papier, 86 x 57 cm', 500, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_184.jpg')
#new_auction(80938, 7023, 'Andrzej Wiercieński  gwasz/karton, 12,3 x 9 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_185.jpg')
#new_auction(80939, 7023, ' Andrzej Wiercieński  gwasz/karton, 15 x 11 cm', 400, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_186.jpg')
#new_auction(80940, 7023, 'Tadeusz Trepkowski offset/papier, 67 x 49 cm', 900, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_187.jpg')
#new_auction(80941, 7023, 'Witold Kalicki offset/papier, 60,7 x 47,8 cm', 100, 'http://desa.pl/assets/images/_Aukcje/dawna/22APP/22_APP_188.jpg')
